# To execute this docker-compose yml file use `docker-compose -f <file_name> up`
# Add the `-d` flag at the end for detached execution
version: "3"
services:
  selenium-hub:
    image: selenium/hub:3.141.59-selenium
    container_name: selenium-hub
    ports:
      - "4444:4444"

  chrome:
    image: selenium/node-chrome:3.141.59-selenium
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444

  chrome-debug:
    image: selenium/node-chrome-debug:3.141.59-selenium
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
    ports:
      - "9002:5900"

  firefox:
    image: selenium/node-firefox:3.141.59-selenium
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444

  test-chrome:
    build: ./
    depends_on:
      - chrome
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444

  test-firefox:
    build: ./
    depends_on:
     - firefox
    environment:
     - HUB_HOST=selenium-hub
     - HUB_PORT=4444
     - BASE_URL=https://develop.bigneon.com

  test-chrome-debug:
    build: ./
    depends_on:
      - chrome-debug
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
      - BASE_URL=https://develop.bigneon.com
