#bn-event-list {
	padding-top: 80px;
	max-width: 1200px;
	margin: auto;
}

#bn-event-list h1 {
	margin: 0px auto 80px auto;
	text-shadow: 0 0 3px #ededed;
}

a.bn-event-row,a.bn-event-row:visited, a.bn-event-row:hover {
	border:none;
	outline:none;
	text-decoration:none;
	color:inherit;
}

.bn-event-container {
	display: grid;
	grid-template-columns: 300px 1fr 100px;
	grid-column-gap: 20px;
	height: 200px;
	width: 100%;
	padding: 0px 80px;
	margin: 40px 0px;
}


.bn-event-image {
	position: relative;
	bottom: 40px;
}

.bn-event-image img {
	max-width: 300px;
	height: 150px;
}

.bn-event-button {
	text-align: right;
}

.bn-event-button button {
	display: block;
	clear: both;
	padding: 0px 20px;
	margin-bottom: 10px;
}

.bn-event-text {
	margin: 0px;
	color: #ededed;
}

.bn-event-date {
	color: #ededed;
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.bn-event-time {
	color: #ededed;
	font-size: 14px;
}

.bn-event-price {
	color: #ededed;
	font-size: 14px;
	display: block;
	clear: both;
	text-transform: uppercase;
}

.bn-event-date-mobile {
	display: none;
}

.bn-event-promoter {
	font-size: 14px;
	text-transform: uppercase;
}

.bn-event-name {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.bn-event-link {
	text-decoration: none;
}

@media (max-width: 900px) {
	.bn-event-container {
		grid-template-columns: 100px 2fr 100px;
		padding: 0 0;
	}

	.bn-event-image {
		grid-column: 1 / 3;
	}

	.bn-event-text {
		grid-column: 1 / 3;
	}

	.bn-event-image img {
		display: none;
	}

	.bn-buy-button {
		padding: 0 10px !important;
	}

	.bn-event-date {
		display: none;
	}

	.bn-event-artists {
		font-size: 20px;
	}

	.bn-event-date-mobile {
		display: block;
		color: #ededed;
		font-size: 20px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}

.bn-buy-button {
	cursor: pointer;
	height: 30px;
	background: #e75e26;
	border: none;
	margin: 0;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition: background-color .3s, color .7s;
	-o-transition: background-color .3s, color .7s;
	transition: background-color .3s, color .7s;
}

.bn-buy-button:hover {
	background: #111111;
	color: #e75e26;
}

.bn-event-category {
	color: #ededed;
}
