.rich-edit-content {
	color: #656d78;
	/*border: solid;*/
}

.rich-edit-content h1 {
	display: inline;
	/*border: solid;*/
	font-family: TTCommons-DemiBold;
}

.rich-edit-content h2 {
	display: inline;
}

.rich-edit-content p {
	font-size: 18px;
	line-height: 30px;
}

.rich-edit-content a {
	font-family: TTCommons-DemiBold;
	cursor: pointer;
	color: #ff20b1;
}

.rich-edit-content strong {
	font-family: TTCommons-Bold;
}

.rich-edit-content li {
}

.rich-edit-content blockquote {
}
